pydantic>=2.12,<3
pandas>=2.3,<3
numpy>=2.3,<3
scipy>=1.17,<2
pytest>=9.0,<10
sqlmodel>=0.0.27,<0.1
plotly>=6.5,<7
fastapi>=0.128,<1
python-multipart>=0.0.22,<1
uvicorn[standard]>=0.40,<1
httpx>=0.28,<1
pywebview>=6.1,<7
pyinstaller>=6.18,<7
ruff>=0.9,<1
